{% extends 'mailing/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Добавить клиента</title>
{% endblock %}


{% block content %}
    <div class="col-12">
            <form class='row' method="post" enctype="multipart/form-data">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-header">
                                <h3 class="card-title">Создать клиента</h3>
                            </div>
                                {% csrf_token %}
                                {{ form.as_p }}
                                 {% if client %}
                                    <br><button type="submit" class="btn btn-success">Сохранить</button>
                                 {% else %}
                                    <br><button type="submit" class="btn btn-success">Создать</button>
                                 {% endif %}
                        </div>
                    </div>
                </div>
            </form>
    </div>
{% endblock %}